{
 "openapi": "3.1.0",
 "info": {
  "title": "Tango API",
  "description": "Welcome to the Tango API – with this RESTful API you can integrate a global reward or incentive program into your app or platform.<br /><br /> This console works in our Sandbox environment. To receive your own credentials or to ask questions, please contact us at <a href=\\\"mailto:devsupport@tangocard.com\\\">devsupport@tangocard.com</a>.",
  "termsOfService": "https://www.tangocard.com/terms-of-service",
  "contact": {
   "name": "Tango Developer Support",
   "url": "https://www.tangocard.com/developer",
   "email": "devsupport@tangocard.com"
  },
  "license": {
   "name": "Apache 2.0",
   "url": "https://www.apache.org/licenses/LICENSE-2.0"
  },
  "version": "2.0.0"
 },
 "servers": [
  {
   "url": "https://integration-api.tangocard.com/raas/v2",
   "description": "Generated server url"
  }
 ],
 "security": [
  {
   "basicAuth": []
  },
  {
   "bearerToken": []
  }
 ],
 "paths": {
  "/prepaidCardService/addCommentEscalation/{referenceLineItemID}": {
   "post": {
    "tags": [
     "16. Prepaid Card Service"
    ],
    "summary": "Add comment or escalation",
    "description": "Add a comment or escalation memo to a prepaid card. The comment is written to Keystone via addMemo. Note: Only customers who have been approved to be an \\\"Approved Critical Vendor\\\" can use these endpoints.",
    "operationId": "addCommentEscalation",
    "parameters": [
     {
      "name": "referenceLineItemID",
      "in": "path",
      "description": "Reference Line Item ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AddCommentEscalationRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AddCommentEscalationResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/lineItems/{referenceLineItemID}/cancel": {
   "post": {
    "tags": [
     "8. Line Items"
    ],
    "summary": "Cancel line item",
    "description": "Cancel a line item, refund the amount, update the status, and update cancel eligibility for a specific line item.",
    "operationId": "cancelLineItem",
    "parameters": [
     {
      "name": "referenceLineItemID",
      "in": "path",
      "description": "Reference line item ID is returned in the line items response.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CancelLineItemRequestCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        },
        "example": "\"Accepted\""
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/asyncOrders": {
   "post": {
    "tags": [
     "7. Async Orders"
    ],
    "summary": "Create an Async Order under a specific Account.",
    "operationId": "createAsyncOrder",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateAsyncOrderCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AsyncOrderEntity"
        }
       }
      }
     },
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AsyncOrderEntity"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "402": {
      "description": "Insufficient Funds",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "429": {
      "description": "Exceeded the allowable TPS rate limit",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "7. Async Orders"
    ],
    "summary": "Get a list of Async Orders placed under this Platform.",
    "operationId": "listAsyncOrders",
    "parameters": [
     {
      "name": "accountIdentifier",
      "in": "query",
      "description": "specify the account to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customerIdentifier",
      "in": "query",
      "description": "specify the customer to be queried",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "externalRefID",
      "in": "query",
      "description": "specify the external reference ID to be queried",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "startDate",
      "in": "query",
      "description": "specify the starting date or date time to be queried according to RFC 3339, i.e. \"2016-01-01\" or \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt\n",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endDate",
      "in": "query",
      "description": "specify the ending date or date time to be queried according to RFC 3339, i.e. \"2016-01-01\" or \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt\n",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "specify the number of maxResults per page.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "elementsPerBlock",
      "in": "query",
      "description": "specify the number of elements in a block.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "specify the page number to return.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "minAmount",
      "in": "query",
      "description": "specify the minimum face value of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxAmount",
      "in": "query",
      "description": "specify the maximum face value of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "currencyCode",
      "in": "query",
      "description": "specify the currency code of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "utid",
      "in": "query",
      "description": "specify the unique identifier of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "ptid",
      "in": "query",
      "description": "specify the unique identifier of the physical delivery template to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "rewardName",
      "in": "query",
      "description": "specify the reward name of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "senderFirstName",
      "in": "query",
      "description": "specify the sender's first name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "senderLastName",
      "in": "query",
      "description": "specify the sender's last name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "senderEmail",
      "in": "query",
      "description": "specify the sender email address to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientEmail",
      "in": "query",
      "description": "specify the recipient's email address to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientMobileNumber",
      "in": "query",
      "description": "specify the recipient's mobile number to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientFirstName",
      "in": "query",
      "description": "specify the recipient's first name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientLastName",
      "in": "query",
      "description": "specify the recipient's last name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sendEmail",
      "in": "query",
      "description": "specify if sendEmail is true or false to be queried.",
      "required": false,
      "deprecated": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "deliveryMethod",
      "in": "query",
      "description": "specify the delivery method to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "orderStatus",
      "in": "query",
      "description": "specify the order status to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lineItemStatus",
      "in": "query",
      "description": "specify the line item status to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "campaign",
      "in": "query",
      "description": "specify the campaign to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "notes",
      "in": "query",
      "description": "specify the notes to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lineItemNotes",
      "in": "query",
      "description": "specify the notes to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "purchaseOrderNumber",
      "in": "query",
      "description": "specify the purchaseOrderNumber to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "prevCursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AsyncOrderListView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/creditCards": {
   "post": {
    "tags": [
     "3. Fund"
    ],
    "summary": "Register a new Credit Card.",
    "operationId": "createCreditCard",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateCreditCardCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreditCardView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "3. Fund"
    ],
    "summary": "List all credit cards registered on this Platform.",
    "operationId": "listCreditCards",
    "parameters": [
     {
      "name": "paginate",
      "in": "query",
      "description": "Whether to paginate the results or not. Defaults to false.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "prevCursor",
      "in": "query",
      "description": "The cursor to use for the previous page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "The cursor to use for the next page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "The maximum number of results to return. The default is 10, and the maximum is 200. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "showInactive",
      "in": "query",
      "description": "Show inactive cards (true or false).",
      "required": false,
      "schema": {
       "type": "string",
       "default": "false"
      }
     },
     {
      "name": "accountNumber",
      "in": "query",
      "description": "Specify the account number to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountIdentifier",
      "in": "query",
      "description": "Get cards associated with a specific account",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customerIdentifier",
      "in": "query",
      "description": "Specify the customer identifier to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "token",
      "in": "query",
      "description": "Credit card token to be queried",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "expirationDate",
      "in": "query",
      "description": "Specify the expiration date of the credit card to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "status",
      "in": "query",
      "description": "Get cards with specific status. When set, this option will override the showInactive parameter",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ACTIVE",
        "DELETED"
       ]
      }
     },
     {
      "name": "emailAddress",
      "in": "query",
      "description": "Specify the contact email address to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fullName",
      "in": "query",
      "description": "Contact person's full name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "label",
      "in": "query",
      "description": "Label for the credit card to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lastFourDigits",
      "in": "query",
      "description": "The last four digits of the credit card to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/NonPaginatedGetCreditCardsResponse"
          },
          {
           "$ref": "#/components/schemas/PaginatedGetCreditCardsResponse"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/creditCardDeposits": {
   "post": {
    "tags": [
     "3. Fund"
    ],
    "summary": "Fund an Account.",
    "operationId": "createCreditCardDeposit",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateCreditCardDepositCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreditCardDepositView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/creditCardUnregisters": {
   "post": {
    "tags": [
     "3. Fund"
    ],
    "summary": "Unregister a Credit Card.",
    "operationId": "createCreditCardUnregister",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateCreditCardUnregisterCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreditCardUnregisterView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/customers": {
   "post": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Create a new Customer on this Platform.",
    "operationId": "createCustomer",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateCustomerCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateCustomerCriteria"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Get a list of all Customers on this Platform.",
    "operationId": "listCustomers",
    "parameters": [
     {
      "name": "displayName",
      "in": "query",
      "description": "Specify the customer display name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "status",
      "in": "query",
      "description": "Specify the status to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customerMinDateCreatedAt",
      "in": "query",
      "description": "Specify the customer earliest createdAt date to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "customerMaxDateCreatedAt",
      "in": "query",
      "description": "Specify the customer latest createdAt date to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "accountStatus",
      "in": "query",
      "description": "Specify the account status to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountIdentifier",
      "in": "query",
      "description": "Specify the account identifier to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountNumber",
      "in": "query",
      "description": "Specify the account number to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountDisplayName",
      "in": "query",
      "description": "Specify the account display name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountMinDateCreatedAt",
      "in": "query",
      "description": "Specify the earliest createdAt date to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "accountMaxDateCreatedAt",
      "in": "query",
      "description": "Specify the latest createdAt date to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "paginate",
      "in": "query",
      "description": "Whether to paginate the results or not. Defaults to false.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "prevCursor",
      "in": "query",
      "description": "The cursor to use for the previous page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "The cursor to use for the next page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "The maximum number of results to return. The default is 10, and the maximum is 200. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/CustomerViewSummary"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   }
  },
  "/customers/{customerIdentifier}/accounts": {
   "post": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Create an Account under a specific Customer on this Platform.",
    "operationId": "createCustomerAccount",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "The customerIdentifier for the Customer under which you are creating a new account",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateAccountCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateAccountCriteria"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Get a list of all Accounts created for a specific Customer on this Platform.",
    "operationId": "listCustomerAccounts",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "The customerIdentifier for the Customer under which you are seeking details.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "paginate",
      "in": "query",
      "description": "Whether to paginate the results or not. Defaults to false.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "prevCursor",
      "in": "query",
      "description": "The cursor to use for the previous page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "The cursor to use for the next page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "The maximum number of results to return. The default is 10, and the maximum is 200. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "accountNumber",
      "in": "query",
      "description": "Specify the account number to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "displayName",
      "in": "query",
      "description": "Specify the account display name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "status",
      "in": "query",
      "description": "Specify the status to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ACTIVE",
        "INACTIVE",
        "DISABLED",
        "FROZEN",
        "DELETED"
       ],
       "pattern": "ACTIVE|INACTIVE|DISABLED|FROZEN|DELETED"
      }
     },
     {
      "name": "contactEmail",
      "in": "query",
      "description": "Specify the contact email address to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "email",
       "maxLength": 255,
       "minLength": 0
      }
     },
     {
      "name": "currencyCode",
      "in": "query",
      "description": "Specify the currency code(s) to be queried.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "AUD",
         "CAD",
         "EUR",
         "GBP",
         "USD",
         "MXN",
         "SGD",
         "PLN"
        ]
       }
      }
     },
     {
      "name": "minBalance",
      "in": "query",
      "description": "Specify the minimum currentBalance to be queried.",
      "required": false,
      "schema": {
       "type": "number"
      }
     },
     {
      "name": "maxBalance",
      "in": "query",
      "description": "Specify the maximum currentBalance to be queried.",
      "required": false,
      "schema": {
       "type": "number"
      }
     },
     {
      "name": "minDateCreatedAt",
      "in": "query",
      "description": "Specify the earliest createdAt date to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "maxDateCreatedAt",
      "in": "query",
      "description": "Specify the latest createdAt date to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "fundingNotificationEmail",
      "in": "query",
      "description": "Specify the funding notification email(s) to be queried.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       },
       "uniqueItems": true
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/NonPaginatedGetCustomerAccountsResponse"
          },
          {
           "$ref": "#/components/schemas/PaginatedGetCustomerAccountsResponse"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   }
  },
  "/digitalTemplates": {
   "post": {
    "tags": [
     "9. Digital Templates"
    ],
    "summary": "Create a new Digital Template",
    "operationId": "createDigitalTemplate",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateEmailTemplateCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplateViewVerbose"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "9. Digital Templates"
    ],
    "summary": "Get a list of all Digital Templates on this Platform.",
    "operationId": "listDigitalTemplates",
    "parameters": [
     {
      "name": "elementsPerBlock",
      "in": "query",
      "description": "specify the number of elements in a block.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "specify the page number to return.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplateListView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/orders": {
   "post": {
    "tags": [
     "6. Orders"
    ],
    "summary": "Create an Order under a specific Account.",
    "operationId": "createOrder",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateOrderCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK / Existing order found for given external ref ID",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderViewSummary"
        }
       }
      }
     },
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderViewSummary"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "402": {
      "description": "Insufficient Funds",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "429": {
      "description": "Exceeded the allowable TPS rate limit",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "6. Orders"
    ],
    "summary": "Get a list of Orders placed under this Platform.",
    "operationId": "listOrders",
    "parameters": [
     {
      "name": "accountIdentifier",
      "in": "query",
      "description": "specify the account to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "customerIdentifier",
      "in": "query",
      "description": "specify the customer to be queried",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "externalRefID",
      "in": "query",
      "description": "specify the external reference ID to be queried",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "startDate",
      "in": "query",
      "description": "specify the starting date or date time to be queried according to RFC 3339, i.e. \"2016-01-01\" or \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt\n",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endDate",
      "in": "query",
      "description": "specify the ending date or date time to be queried according to RFC 3339, i.e. \"2016-01-01\" or \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt\n",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "elementsPerBlock",
      "in": "query",
      "description": "specify the number of elements in a block.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "specify the page number to return.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "minAmount",
      "in": "query",
      "description": "specify the minimum face value of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "number"
      }
     },
     {
      "name": "maxAmount",
      "in": "query",
      "description": "specify the maximum face value of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "number"
      }
     },
     {
      "name": "currencyCode",
      "in": "query",
      "description": "specify the currency code of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "utid",
      "in": "query",
      "description": "specify the unique identifier of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "ptid",
      "in": "query",
      "description": "specify the unique identifier of the physical delivery template to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "rewardName",
      "in": "query",
      "description": "specify the reward name of the reward to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "senderFirstName",
      "in": "query",
      "description": "specify the sender's first name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "senderLastName",
      "in": "query",
      "description": "specify the sender's last name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "senderEmail",
      "in": "query",
      "description": "specify the sender email address to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientEmail",
      "in": "query",
      "description": "specify the recipient's email address to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientMobileNumber",
      "in": "query",
      "description": "specify the recipient's mobile number to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientFirstName",
      "in": "query",
      "description": "specify the recipient's first name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "recipientLastName",
      "in": "query",
      "description": "specify the recipient's last name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sendEmail",
      "in": "query",
      "description": "specify if sendEmail is true or false to be queried.",
      "required": false,
      "deprecated": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "deliveryMethod",
      "in": "query",
      "description": "specify the delivery method to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "NONE",
        "EMAIL",
        "PHONE",
        "ADDRESS",
        "EMBEDDED",
        "BULKSHIPMENT",
        "QRCODE",
        "BULKDIGITAL",
        "EMBEDDED_COMPONENT",
        "WHATSAPP"
       ]
      }
     },
     {
      "name": "status",
      "in": "query",
      "description": "specify the status to be queried.",
      "required": false,
      "deprecated": true,
      "schema": {
       "type": "string",
       "enum": [
        "PENDING",
        "QUEUED",
        "PENDING_MR",
        "ON_HOLD",
        "CANCELLED",
        "COMPLETE",
        "FAILED",
        "PARTIAL",
        "DELETED",
        "PENDING_KYB",
        "PENDING_PAYMENT"
       ]
      }
     },
     {
      "name": "orderStatus",
      "in": "query",
      "description": "specify the order status to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "PENDING",
        "QUEUED",
        "PENDING_MR",
        "ON_HOLD",
        "CANCELLED",
        "COMPLETE",
        "FAILED",
        "PARTIAL",
        "DELETED",
        "PENDING_KYB",
        "PENDING_PAYMENT"
       ]
      }
     },
     {
      "name": "lineItemStatus",
      "in": "query",
      "description": "specify the line item status to be queried.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "COMPLETE",
        "PENDING",
        "FAILED",
        "DELETED",
        "CANCELLED",
        "RETURNED"
       ]
      }
     },
     {
      "name": "campaign",
      "in": "query",
      "description": "specify the campaign to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "notes",
      "in": "query",
      "description": "specify the notes to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lineItemNotes",
      "in": "query",
      "description": "specify the notes to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "purchaseOrderNumber",
      "in": "query",
      "description": "specify the purchaseOrderNumber to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrderListView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/webhooks": {
   "post": {
    "tags": [
     "14. Webhooks"
    ],
    "summary": "Create subscription",
    "operationId": "createSubscription",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/WebhookSubscriptionRequestView"
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/WebhookSubscriptionResponseView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "14. Webhooks"
    ],
    "summary": "Get subscriptions",
    "operationId": "getSubscriptions",
    "parameters": [
     {
      "name": "prevCursor",
      "in": "query",
      "description": "The cursor to use for the previous page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "The cursor to use for the next page of results. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "The maximum number of results to return. The default is 10, and the maximum is 200. This will be ignored if paginate is false.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 200
      }
     },
     {
      "name": "url",
      "in": "query",
      "description": "The customer URI Tango will use to POST the webhook back to",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "headerName",
      "in": "query",
      "description": "Contains any header name submitted by the customer.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "headerValue",
      "in": "query",
      "description": "Contains any header value submitted by the customer.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "categories",
      "in": "query",
      "description": "Designated subscribed to categories.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "eventTypes",
      "in": "query",
      "description": "Designated subscribed to events.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "expiresAtFrom",
      "in": "query",
      "description": "Specify the starting expiration date or date time to be queried according to RFC 3339, i.e. \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "expiresAtTo",
      "in": "query",
      "description": "Specify the ending expiration date or date time to be queried according to RFC 3339, i.e. \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "createdAtFrom",
      "in": "query",
      "description": "Specify the starting created date or date time to be queried according to RFC 3339, i.e. \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "createdAtTo",
      "in": "query",
      "description": "Specify the ending created date or date time to be queried according to RFC 3339, i.e. \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetWebhooksResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/digitalTemplates/{etid}": {
   "delete": {
    "tags": [
     "9. Digital Templates"
    ],
    "summary": "Delete a specific Digital Template on this Platform.",
    "operationId": "deleteDigitalTemplate",
    "parameters": [
     {
      "name": "etid",
      "in": "path",
      "description": "Template ID (ETID) is returned in the digital template response payload",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "9. Digital Templates"
    ],
    "summary": "Get details for a specific Digital Template on this Platform.",
    "operationId": "getDigitalTemplate",
    "parameters": [
     {
      "name": "etid",
      "in": "path",
      "description": "Template ID (ETID) is returned in the digital template response payload payload",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplateViewVerbose"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "9. Digital Templates"
    ],
    "summary": "Update details for a specific Digital Template on this Platform.",
    "operationId": "updateDigitalTemplate",
    "parameters": [
     {
      "name": "etid",
      "in": "path",
      "description": "Template ID (ETID) is returned in the digital template response payload",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateEmailTemplateCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplateViewVerbose"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/customers/{customerIdentifier}/accounts/{accountIdentifier}/lowbalance/{balanceAlertID}": {
   "delete": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Delete a low balance alert for a specific Account under a Customer.",
    "operationId": "deleteLowBalanceAlert",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "The customerIdentifier for the Customer / Account combination.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "The accountIdentifier for the Customer / Account combination.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "balanceAlertID",
      "in": "path",
      "description": "The balance alert ID that is being deleted.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeleteBalanceAlertView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Get a low balance alert for a specific Account under a Customer.",
    "operationId": "getLowBalanceAlert",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "The customerIdentifier for the Customer / Account combination.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "The accountIdentifier for the Customer / Account combination.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "balanceAlertID",
      "in": "path",
      "description": "The specific balance alert ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LowBalanceAlertView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "1. Customers"
    ],
    "summary": "Update a low balance alert for a specific Account under a Customer.",
    "operationId": "updateLowBalanceAlert",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "The customerIdentifier for the Customer / Account combination under which you update the low balance alert.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "The accountIdentifier for the Customer / Account combination under which you update the low balance alert.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "balanceAlertID",
      "in": "path",
      "description": "The lowBalanceIdentifier for the Customer / Account / low balance combination under which you update the low balance alert.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateLowBalanceAlertRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LowBalanceAlertView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "409": {
      "description": "Conflict; Duplicate Exists",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ErrorInfo"
          },
          {
           "$ref": "#/components/schemas/ErrorDTO"
          }
         ]
        }
       }
      }
     }
    }
   }
  },
  "/webhooks/{webhookId}": {
   "delete": {
    "tags": [
     "14. Webhooks"
    ],
    "summary": "Delete subscription",
    "operationId": "deleteSubscription",
    "parameters": [
     {
      "name": "webhookId",
      "in": "path",
      "description": "The webhook identifier",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "get": {
    "tags": [
     "14. Webhooks"
    ],
    "summary": "Get subscription",
    "operationId": "getSubscription",
    "parameters": [
     {
      "name": "webhookId",
      "in": "path",
      "description": "The webhook identifier",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetWebhookResponseView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "14. Webhooks"
    ],
    "summary": "Update subscription",
    "operationId": "updateSubscription",
    "parameters": [
     {
      "name": "webhookId",
      "in": "path",
      "description": "The webhook identifier",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateWebhookSubscriptionRequestView"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateWebhookSubscriptionResponseView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/lineItems/reasonCodes": {
   "get": {
    "tags": [
     "8. Line Items"
    ],
    "summary": "Get all reason codes",
    "description": "Get all reason codes for all reward actions.",
    "operationId": "fetchAllReasonsCodes",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RewardReasonsMap"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/lineItems/{referenceLineItemID}/freeze": {
   "post": {
    "tags": [
     "8. Line Items"
    ],
    "summary": "Freeze line item",
    "description": "Freeze a line item, update the status, and update freeze eligibility for a specific line item.",
    "operationId": "freezeLineItem",
    "parameters": [
     {
      "name": "referenceLineItemID",
      "in": "path",
      "description": "Reference line item ID is returned in the line items response.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/FreezeLineItemRequestCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        },
        "example": "\"Accepted\""
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/accounts/{accountIdentifier}": {
   "get": {
    "tags": [
     "2. Accounts"
    ],
    "summary": "Get details for a specific Account on this Platform.",
    "operationId": "getAccount",
    "parameters": [
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "The accountIdentifier for the Account you are seeking details.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccountView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/choiceProducts": {
   "get": {
    "tags": [
     "12. Choice Products"
    ],
    "summary": "Get all available Choice Products.",
    "operationId": "getAllChoiceProducts",
    "parameters": [
     {
      "name": "rewardName",
      "in": "query",
      "description": "Specify the reward name to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "currencyCode",
      "in": "query",
      "description": "Specify the currency code to be queried.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "countries",
      "in": "query",
      "description": "Specify the list of countries to be queried.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ChoiceProductsDto"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/webhooks/eventtypes": {
   "get": {
    "tags": [
     "14. Webhooks"
    ],
    "summary": "Get all subscription event types",
    "operationId": "getAllEventTypes",
    "parameters": [
     {
      "name": "prevCursor",
      "in": "query",
      "description": "Specify previous cursor to return (optional).",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "Specify next cursor to return (optional).",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "Specify the max results to return (optional).",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 200
      }
     },
     {
      "name": "category",
      "in": "query",
      "description": "Specify the category to return (optional).",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetAllEventTypesResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/asyncOrders/customers/{customerIdentifier}/accounts/{accountIdentifier}/{externalRefID}": {
   "get": {
    "tags": [
     "7. Async Orders"
    ],
    "summary": "Get an Async Order by external reference ID with cursor-based pagination.",
    "operationId": "getAsyncOrder",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "specify the customer to be queried",
      "required": true,
      "schema": {
       "type": "string",
       "minLength": 1
      }
     },
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "Specify the account to be queried.",
      "required": true,
      "schema": {
       "type": "string",
       "minLength": 1
      }
     },
     {
      "name": "externalRefID",
      "in": "path",
      "description": "External reference ID of the async order",
      "required": true,
      "schema": {
       "type": "string",
       "minLength": 1
      }
     },
     {
      "name": "prevCursor",
      "in": "query",
      "description": "Cursor for navigating to previous page",
      "required": false,
      "schema": {
       "type": "string",
       "default": ""
      },
      "example": "NjE="
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "Cursor for navigating to next page",
      "required": false,
      "schema": {
       "type": "string",
       "default": ""
      },
      "example": "NjI="
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "Maximum number of line items to return",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 100,
       "maximum": 500,
       "minimum": 1
      },
      "example": 100
     },
     {
      "name": "externalRefLineItemIDs",
      "in": "query",
      "description": "Specify the externalRefLineItemIDs to be queried. A maximum of 50 externalRefLineItemIDs can be provided.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "referenceLineItemIDs",
      "in": "query",
      "description": "Specify the referenceLineItemIDs to be queried. A maximum of 50 referenceLineItemIDs can be provided.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "failedOnly",
      "in": "query",
      "description": "Specify true to return only failed line items",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AsyncOrderDetailView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "429": {
      "description": "Exceeded the allowable TPS rate limit",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "7. Async Orders"
    ],
    "summary": "Update an Async Order under a specific Account.",
    "operationId": "updateAsyncOrder",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "Specify the customer to be queried",
      "required": true,
      "schema": {
       "type": "string",
       "minLength": 1
      }
     },
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "Specify the account to be queried.",
      "required": true,
      "schema": {
       "type": "string",
       "minLength": 1
      }
     },
     {
      "name": "externalRefID",
      "in": "path",
      "description": "External reference ID of the async order",
      "required": true,
      "schema": {
       "type": "string",
       "minLength": 1
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateAsyncOrderCriteria"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AsyncOrderDetailView"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "429": {
      "description": "Exceeded the allowable TPS rate limit",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorInfo"
        }
       }
      }
     }
    }
   }
  },
  "/asyncOrders/customers/{customerIdentifier}/accounts/{accountIdentifier}/{externalRefID}/lineItems": {
   "get": {
    "tags": [
     "7. Async Orders"
    ],
    "summary": "Get line item details for a specific Async Order.",
    "operationId": "getAsyncOrderLineItemDetails",
    "parameters": [
     {
      "name": "customerIdentifier",
      "in": "path",
      "description": "specify the customer to be queried",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "accountIdentifier",
      "in": "path",
      "description": "specify the account to be queried.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "externalRefID",
      "in": "path",
      "description": "External Reference ID for a specific async order",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "prevCursor",
      "in": "query",
      "description": "Specify previous cursor to return (optional).",
      "required": false,
      "schema": {
       "type": "string",
       "default": ""
      }
     },
     {
      "name": "nextCursor",
      "in": "query",
      "description": "Specify next cursor to return (optional).",
      "required": false,
      "schema": {
       "type": "string",
       "default": ""
      }
     },
     {
      "name": "maxResults",
      "in": "query",
      "description": "Specify the max results to return (optional).",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 50,
       "maximum": 100,
       "minimum": 1
      }
     },
     {
      "name": "externalRefLineItemIDs",
      "in": "query",
      "description": "Specify the externalRefLineItemIDs to be queried. A maximum of 50 externalRefLineItemIDs can be provided",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
[...]
